#game > h1{
    text-align: center;
    font-size: 3rem;
    color: black;
}
#game{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2%;
}
#game p{
    padding: 2%;
}