* {
    color: #ffffff;
}

body {
    background-color: #000000;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 3%;
    background-color: #252525;
    padding: 1%;
}

.navitem {
    padding: 1%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10%;
}

.navitem:hover {
    background-color: #606060;
    color: #ffffff;
}

a:link, a:visited, a:active {
    text-decoration: none;
}