main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#filters {
    width: 100%;
}

form {
    width: 100%;
}

#filters, form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.input_row {
    display: flex;
    flex-flow: row nowrap;
}

#games {
    width: 65%;
}