#finder{
    width: 30%;
}
fieldset{
    width: 90%;
}
#gamelist{
    width: 70%;
}
.right{
    justify-content: space-evenly;
    margin: 0;
    padding: 2%;
    width: 100%;
}
.right a{
    text-align: center;
    padding: 2%;
}
.right p{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
}