main {
    background-image: url('https://store.fastly.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg');
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

label {
    margin: 3%;
    text-align: left;
    width: 40%;
    font-size: 250%;
    font-weight: bold;
}

form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    background-color: #252525;
    padding: 2%;
    border-radius: 15px;

    .form_subcontainer {
        display: flex;
        flex-flow: column nowrap;

        label {
            width: 98%;
            font-size: 80%;
            font-weight: normal;
            word-spacing: 0.2rem;
            letter-spacing: 0.05rem;
            margin: 1% 0 1% 0;
        }

        input {
            border-radius: 5px;
            border: none;
            height: 30px;
            margin-bottom: 5%;
            background-color: #000000;
            color: #ffffff;
        }

        input:focus {
            background-color: #ffffff;
            color: #000000;
        }

        input[type='submit'] {
            margin-top: 5%;
            background-color: #ffffff;
            color: #000000;
        }

        input[type='submit']:hover {
            background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
        }

        img {
            border-radius: 10px;
        }
    }

    #form_left {
        width: 50%;
    }

    #loginform_right {
        width: 35%;
    }

    #registerform_right {
        flex-flow: row nowrap;
        width: 40%;
    }
}